<div class="home">
  <h2 class="list-header">Cats</h2>
  <ul class="list">
  {{#each cats as | cat | }}
    <li class="list-item">
      <img width="200px" height="200px" src="/cat.png" alt="cat">
      <h3 class="header">{{cat.name}}</h3>
      <p>{{cat.name}} is a {{cat.colour}} cat</p>
      <a href="/cats/{{cat.id}}">see {{cat.name}}'s profile</a>
    </li>
  {{/each}}
  </ul>

  <a href="/cats/add-cat">Add Cat</a>
</div>
